{% extends "plantilla.html" %}
{% load static %}
{% block title %}Floralia - Metán{% endblock %}

{% block content %}

   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static '/IMG/marantha.png' %}" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5><mark>Plantas de interior</mark></h5>
        <p><mark>Amplio surtido en plantas de interior.</mark></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '/IMG/kalanchoe.png' %}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5><mark>Cactus y suculentas</mark></h5>
        <p><mark>Gran variedad de crasas. Para principiantes y coleccionistas avanzados.</mark></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '/IMG/llamas.png' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5><mark>Macetas</mark></h5>
        <p><mark>Varios modelos de macetas de plástico y terracota.</mark></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div> 

<br>
	<section>
  <div class="col4">
		<div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="{% static '/IMG/Crasas.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Plantas de exterior</h5>
    <p class="card-text">Plantas que toleran, en mayor o menor medida, exposición al sol.</p>
    <a target= "_blank" href="https://es.wikipedia.org/wiki/Spheniscidae" class="btn btn_flo">Ver más</a>
  </div>
</div>
<div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="{% static '/IMG/plaInterior.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Plantas de interior</h5>
    <p class="card-text">Perfectas para darle un toque de color al hogar.</p>
    <a href="#" class="btn btn_flo">Novedades</a>
  </div>
</div>
<div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="{% static '/IMG/regalo.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Regalos vivos</h5>
    <p class="card-text">El regalo perfecto para esa persona especial.</p>
    <a href="#" class="btn btn_flo">Novedades</a>
  </div>
</div>
<div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="{% static '/IMG/patos.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Macetas</h5>
    <p class="card-text">El complemento perfecto para tu planta.</p>
    <a href="#" class="btn btn_flo">Novedades</a>
  </div>
</div>
</div>
	</section>
	
  <br>
	
{% endblock %}