{% extends "plantilla.html" %}
{% load static %}
{% block title %}Plantas{% endblock %}

{% block content %}
	<nav>
		<a href="{% url 'Inicio' %}"><img src="{% static '/img/logo.png' %}" alt="logo"></a>
	</nav>
	<div class="form-wrapper">
		<h2>Inicia sesión</h2>
		<form action="#">
			<div class="form-control">
				<input type="text" required oninvalid="setCustomValidity('Ingresa un email o un número de teléfono válido.')"
				oninput="setCustomValidity('')">
				<label>Email</label>
			</div>
			<div class="form-control">
				<input type="password" required
				oninvalid="setCustomValidity('La contraseña debe tener entre 4 y 60 caracteres.')"
				oninput="setCustomValidity('')">
				<label>Contraseña</label>
			</div>
			<button id="btn" type="submit"><a href="./user/index.html">Iniciar sesión</a></button>
		</form>
		<p>¿No tiene cuenta?<a href="{% url 'registro' %}"> Crear cuenta.</a></p>
	</div>
	<script>
		function loguear(){    
    	window.location.replace("./user/index.html");
		}
		const registrar_btn = document.getElementById("btn");
		registrar_btn.addEventListener("click",loguear);
	</script>

{% endblock %}