{% extends "plantilla.html" %}
{% load static %}
{% block title %}Plantas{% endblock %}

{% block content %}

<br>

<section id="cactus">
  <h2 class="margen">Cactus</h2>
  <div class="col4">
    <div class="card pad_color" style="width: 18rem;">
    <img class="card-img-top" src="{% static '/IMG/viejo.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nombre</h5>
      <p class="card-text">Precio.</p>
      <a target= "_blank" href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Ver más</a>
      <a target= "_blank" href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Carrito</a>
    </div>
    </div>
    <div class="card pad_color" style="width: 18rem;">
      <img class="card-img-top" src="./IMG/hada.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Castillo de hadas</h5>
        <p class="card-text">Cactus monstruoso.</p>
        <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
      </div>
    </div>
    <div class="card pad_color" style="width: 18rem;">
      <img class="card-img-top" src="./IMG/cerebro.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mammillaria enlongata</h5>
        <p class="card-text">Cactus crestado.</p>
        <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
      </div>
    </div>
    <div class="card pad_color" style="width: 18rem;">
      <img class="card-img-top" src="./IMG/parodia.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Parodia florecido</h5>
        <p class="card-text">Cactus flor amarilla.</p>
        <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
      </div>
    </div>
  </div>
</section>

  <br>

<section id="suculentas">
  <h2 class="margen">Suculentas</h2>
  <div class="col4">
      <div class="card pad_color" style="width: 18rem;">
      <img class="card-img-top" src="{% static '/IMG/dion.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Oreocereus Trolli</h5>
        <p class="card-text">Cactus viejito.</p>
        <a target= "_blank" href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
      </div>
    </div>
    <div class="card pad_color" style="width: 18rem;">
      <img class="card-img-top" src="./IMG/kalan.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Castillo de hadas</h5>
        <p class="card-text">Cactus monstruoso.</p>
        <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
      </div>
    </div>
    <div class="card pad_color" style="width: 18rem;">
      <img class="card-img-top" src="./IMG/eche.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mammillaria enlongata</h5>
        <p class="card-text">Cactus crestado.</p>
        <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
      </div>
    </div>
    <div class="card pad_color" style="width: 18rem;">
      <img class="card-img-top" src="./IMG/senecio.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Parodia florecido</h5>
        <p class="card-text">Cactus flor amarilla.</p>
        <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
      </div>
    </div>
  </div>
</section>
	
  <br>
	
<section id="interior">
<h2 class="margen">Plantas de interior</h2>
<div class="col4">
  <div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="./IMG/anthurium.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Oreocereus Trolli</h5>
    <p class="card-text">Cactus viejito.</p>
    <a target= "_blank" href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
  </div>
</div>
<div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="./IMG/orqui.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Castillo de hadas</h5>
    <p class="card-text">Cactus monstruoso.</p>
    <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
  </div>
</div>
<div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="./IMG/peperomia.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mammillaria enlongata</h5>
    <p class="card-text">Cactus crestado.</p>
    <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
  </div>
</div>
<div class="card pad_color" style="width: 18rem;">
  <img class="card-img-top" src="./IMG/cisus.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Parodia florecido</h5>
    <p class="card-text">Cactus flor amarilla.</p>
    <a href="https://wa.me/qr/H6X7ZNRXEXW6L1" class="btn btn_flo">Novedades</a>
  </div>
</div>
</div>
</section>

  <br>

{% endblock %}