:root{
    --background-color: #C1EAF4;
    --primary-color: #53FF84;
    --highlight-color: #F8AAF5;
}
body{
	background-color: #f9ebea;
	position: relative;
	padding-bottom: 80px;
	min-height: 100vh;
}
a{
	text-decoration: none;
	color: #6B654B;
}
.col4{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.margen{
	margin-left: 20px;
}
footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
nav{
	background-color: var(--highlight-color);
}

mark{
	border-radius: 5px;
	color: #231f20;
}

footer{
	padding-top: 10px ;
}
.pad_color{
	padding: 5px 20px;
	background-color: var(--highlight-color);
}
.btn_flo{
	background-color: var(--background-color);
	color: black;
	margin-left: 5px;
}
.color_flo{
	background-color: var(--background-color);
}

.buscar{
	color: #6B654B;
	background-color: var(--background-color);
}
.logo_flo{
	margin-top: -100%;
}
/*primer section con 4 cards, segundo section con carrusel,
 modal (tipo alerta),colapse, acordeon, carrusel, footer*/